table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  .members:hover{
    cursor:pointer;
    background-color:#f5f5f5;
  }

}
.image {
  width: 150px;
}
img {
  border-radius: 50%;
}

.filter {
  text-align: right;
  input {
    margin-right: 15px;
    width: 200px;
    height: 25px;
  }
}
